<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flym.echo24"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.flym.echo24.provider.WRITE_PERMISSION"
        android:protectionLevel="signature" />

    <application
        android:name="com.flym.echo24.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Light">
        <service android:name="com.flym.echo24.service.RefreshService" />
        <service android:name="com.flym.echo24.service.FetcherService" />

        <provider
            android:name="com.flym.echo24.provider.FeedDataContentProvider"
            android:authorities="com.flym.echo24.provider.FeedData"
            android:exported="true"
            android:writePermission="com.flym.echo24.provider.WRITE_PERMISSION" />

        <activity
            android:name="com.flym.echo24.activity.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.flym.echo24.activity.AddGoogleNewsActivity"
            android:label="@string/google_news_title"
            android:launchMode="singleTask" />
        <activity
            android:name="com.flym.echo24.activity.AboutActivity"
            android:label="@string/about_flym"
            android:launchMode="singleTask" />
        <activity
            android:name="com.flym.echo24.activity.EditFeedsListActivity"
            android:label="@string/feeds"
            android:launchMode="singleTask" />
        <activity
            android:name="com.flym.echo24.activity.EntryActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.feedex.entry" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.flym.echo24.activity.GeneralPrefsActivity"
            android:label="@string/menu_settings"
            android:launchMode="singleTask" />
        <activity android:name="com.flym.echo24.widget.WidgetConfigActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name="com.flym.echo24.activity.EditFeedActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.feedex.feed" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.feedex.feed" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <receiver android:name="com.flym.echo24.widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo" />
        </receiver>

        <receiver android:name="com.flym.echo24.widget.TickerWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tickerwidgetinfo" />
        </receiver>

        <service
            android:name="com.flym.echo24.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name="com.flym.echo24.widget.TickerWidgetService" />

        <receiver android:name="com.flym.echo24.receiver.BootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.flym.echo24.receiver.ConnectionChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.flym.echo24.service.RefreshService$RefreshAlarmReceiver" />
    </application>

</manifest>